<!--
    <div class="container">
        <h1>Residence List</h1>
        <div *ngFor="let residence of listResidences">
            <img src="{{ residence.image }}" [alt]="residence.name" height="250px" width="350px">
            <p><b>Name : </b> {{ residence.name }} </p>
            <p><b>Address : </b> {{ residence.address }} </p>
            <p><b>Status : </b> {{ residence.status }} </p>
            <hr>
        </div>
    </div>
-->
<div class="container">
    <a routerLink="/residence/add" class="btn btn-link">Add Residence</a><br>
    <input type="text" placeholder="search residence" class="form-control" [(ngModel)]="search">
    <div class="row">
        <div class="col-3" *ngFor="let residence of listResidences">
            <div *ngIf="residence.address === search || search === ''">
                <div class="card" style="width: 18rem;">
                    <img src="{{ residence.image }}" class="card-img-top" alt="{{ residence.name }}">
                    <div class="card-body">
                      <h5 class="card-title"> {{ residence.name }} </h5>
                      <p class="card-text"> <b>Status : </b> {{ residence.status }} 
                        <span *ngIf="residence.status === 'En Construction'"><i class="bi bi-cone-striped"></i></span>
                        <span *ngIf="residence.status === 'Vendu'"><i class="bi bi-x-octagon-fill"></i></span>
                        <span *ngIf="residence.status === 'Disponible'"><i class="bi bi-check-circle-fill"></i></span>
                      </p>
                      <p class="card-text" *ngIf="residence.showLocation"> <b>Address : </b> {{ residence.address }} </p>
                      <a (click)="toggleLocation(residence.id)" class="btn btn-primary">Show Location</a>
                    <button class="btn btn-success m-2" (click)="likeResidence(residence)" >Like</button>
                    <a [routerLink]="['/residence/details/', residence.id]" class="btn btn-info">Details</a>
                    <a [routerLink]="['/residence/update/', residence.id]" class="btn btn-warning m-2">Update</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1>Favorite List</h1>
    <div *ngFor="let residence of listFavoris">
        <img src="{{ residence.image }}" [alt]="residence.name" height="250px" width="350px">
        <p><b>Name : </b> {{ residence.name }} </p>
        <p><b>Address : </b> {{ residence.address }} </p>
        <p><b>Status : </b> {{ residence.status }} </p>
        <hr>
    </div>
</div>